body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}
.style-line {
  width: 100%;
  background-color: lightgrey;
  height:1px;
}
.head-nav {
  list-style: none;
  display: inline-block;
  margin-left: 30px;
}
.main-nav {
  margin-top: 10px;

}
.header-container {
  text-align: center;
}
.image-cloud {
  width: 100%;
  height: 100%;
}
.home-image-container.col-12 {
  height: 350px;
  position: relative;
  background-image: url("https://res.cloudinary.com/dgty4zoyf/image/upload/v1498513788/small_business_w9qfzw.jpg");
  background-size: cover;
  text-align: center;
  background-repeat: no-repeat;
  background-position: 50% 50%;
}
.motto {
  top: 27%;
  color: white;
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 24px;
  left: 10%;
  right: 10%;
  width: 80%;
  position: absolute;
}
.main-search-input,.main-search-button {
  margin-left: 10px;
}
.main-search-input {
  display: inline-block;
  height: 30px;
  font-family: 'Roboto',sans-serif;
  font-size: 14px;
  padding-left:30px;
  font-weight: normal;
  width: 270px;
}
.search-titles {
}
.search-titles.one-title {
  font-size: 30px;
}
